{{> templates/base}}
{{#block "contenido"}}
    <section class="container my-5">
        <h2 class="text-center mb-4">Registro de Oferta Canjeable</h2>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <form action="/crear-oferta" method="POST" enctype="multipart/form-data">

                            <div class="mb-3">
                                <label for="nombreOferta" class="form-label">Nombre de la Oferta</label>
                                <input type="text" class="form-control" id="nombreOferta" name="nombreOferta" required>
                            </div>

                            <div>
                                <label for="subTitulo" class="form-label">Subtitulo</label>
                                <input type="text" class="form-control" id="subTitulo" name="subTitulo" required>
                            </div>

                            <div>
                                <label for="descripcion" class="form-label">Descripción</label>
                                <textarea class="form-control" id="descripcion" name="descripcion" rows="3" required></textarea>
                            </div>

                            <div class="mb-3">
                                <label for="rubro" class="form-label">Categoría</label>
                                <select class="form-select" id="rubro" name="rubro" required>
                                    {{#each rubros}}
                                    <option value="{{this.id}}">{{this.nombre}}</option>
                                    {{/each}}
                                </select>
                            </div>


                            <div class="mb-3">
                                <label for="puntosNecesarios" class="form-label">Puntos Necesarios</label>
                                <input type="number" class="form-control" id="puntosNecesarios" name="puntosNecesarios"
                                       min="1" required>
                            </div>

                            <div class="mb-3">
                                <label for="imagen" class="form-label">Subir imagen</label>
                                <input type="file" class="form-control" id="imagen" name="imagen" accept="image/*">
                            </div>

                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary">Registrar Oferta</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{{/block}}