{{> templates/base}}
{{#block "contenido"}}
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-9 col-md-9">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="card-title">Bienvenido a Viandas Solidarias</h1>
                            <p class="card-text">
                                ¡<strong><u>Únete a nuestra comunidad</u></strong> y contribuye a mejorar la vida de personas en situaciones vulnerables!
                                Donando <strong><u>viandas</u></strong>, <strong><u>dinero</u></strong> o <strong><u>tu tiempo</u></strong>, puedes ayudar a garantizar que nadie pase hambre.
                                Nuestras <strong><u>heladeras comunitarias</u></strong>, ubicadas en diferentes puntos de la ciudad, son espacios seguros para almacenar y distribuir viandas donadas.
                                Además, puedes canjear tus puntos por donaciones realizadas para obtener <strong><u>beneficios exclusivos</u></strong>.
                            </p>
                            <p>
                                Si formas parte de una organización, también puedes colaborar donando <strong><u>dinero</u></strong>, prestando <strong><u>tu espacio</u></strong> para colocar una heladera u ofreciendo <strong><u>premios</u></strong> para los mejores colaboradores!
                            </p>
                        </div>

                        <img src="/img/heladera.jpeg" alt="heladera con viandas dentro" class="card-image-bottom">
                    </div>
                </div>
            </div>
        </div>
    </section>
{{/block}}